* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
}

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #000000;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #bab8f5;
    --secondary-color: #a0a4b1;
    --font-color: #e1e1ff;
    --bg-color: #09090f;
    --heading-color: #959aa8
}

em {
    color: white;
    margin-left: 10px;
    font-size: 0,3em;
    font-family: Zilla Slab, 'Times New Roman', Times, serif;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: rgb(136, 22, 41);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.title {
    padding: 230px;
    text-align: left;
    background: black;
    background-image: url("images/image_title.jpg");
    width: auto;
    height: auto;
    background-size: cover;
    font-size: 30px;
}

.navbar {
    overflow: hidden;
    background-color: black; 
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-family: Zilla Slab, 'Times New Roman', Times, serif;
    padding: 14px 27px;
    transition: all 0.8s ease;
}

.navbar a.right {
    float: right;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 27px;
    background-color: inherit;
    font-family: Zilla Slab, 'Times New Roman', Times, serif;
    transition: all 0.8s ease;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(136, 22, 41);
    text-shadow: 2px 1px 1px white;
    color: black;
}

.subnav-content {
    display: none;
    position: fixed;
    left: 0;
    background-color: rgb(136, 22, 41);
    width: 100%;
    z-index: 1;
    border-bottom: 5px solid black;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: rgb(136, 22, 41);
    text-shadow: 2px 1px 1px white;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.navbar a.active {
    background-color: rgb(136, 22, 41);
    color: black;
}

h1{
    font-size: 60px;
    text-shadow: 3px 2px 2px black;
    font-family: Merienda, 'Times New Roman', Times, serif;
    color: white;
}

h2{
    font-size: 55px;
    text-shadow: 2px 2px 1px black;
    font-family: Zilla Slab, 'Times New Roman', Times, serif;
    color: white;
}

h4{
    font-size: 30px;
    font-family: Encode Sans SC, 'Times New Roman', Times, serif;
    padding: 20px 50px 0px 50px;
    text-align: left;
    text-decoration-line: underline;
}

h5{
    font-size: 28px;
    font-family: Encode Sans SC;
    text-align: justify;
    padding: 20px 50px 0px 50px;
    text-decoration-line: underline;
}

h6 {
    font-size: 50px;
    font-family: Merienda, 'Times New Roman', Times, serif;
    color: rgb(136, 22, 41);
    text-shadow: 4px 3px 2px black;
    padding: 0px 0px 20px 0px;
    margin: 0;
}

.partie_accueil {
    font-size: 50px;
    font-family: Merienda, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(136, 22, 41);
    color: black;
    padding: 12px;
    margin-top: 0;
    margin-bottom: 50px;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}

.parties {
    font-size: 50px;
    font-family: Merienda, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(136, 22, 41);
    color: black;
    padding: 12px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(136, 22, 41);
    transition: 0.3s;
    width: 300px;
    height: 530px;
    border-radius: 8px;
    margin: 40px 90px;
    display: block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(136, 22, 41);
}

.container {
    padding: 2px 16px;
    text-align: center;
}

.accueil_left {
    display: block;
    float: left;
}

.accueil_right {
    display: block;
    padding: 200px 100px 200px 500px;
}

.exp {
    display: flex;
}

.exp_form {
    width: 50%;
}

.exp_stages {
    width: 50%;
}

.etudes {
    display: flex;
    padding: 40px 50px 0px 90px;
}

.etudes_liste {
    width: 70%;
    padding-top: 0;
}

.comp {
    display: flex;
    padding: 40px 50px 0px 90px;
}

.comp_left {
    display: flex;
    padding: 50px 50px 0px 90px;
}

.container_comp {
    width: 50%;
    margin: 0 auto;
}

@keyframes load{
    from {
        width: 0%
    }
}
@-webkit-keyframes load{
    from {
        width: 0;
    }
}
@-moz-keyframes load{
    from {
        width: 0%
    }
}
@-o-keyframes load{
    from {
        width: 0%
    }
}

.bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 17px;
    color: black;
    font-weight: bold;
    font-family: Zilla Slab, 'Times New Roman', Times, serif;
}

.bar::before{
    content:  attr(data-skill);
    background-color: lightblue;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.back::before{
    background-color: rgb(84, 233, 84);
}

.bar.front.advanced::before{
    background-color: orange;
}

.bar.front.expert::before{
    background-color: red;
}

.bar.learning::before{
    width: calc(20% - 10px);
}

.bar.basic::before{
    width: calc(40% - 10px);
}

.bar.intermediate::before{
    width: calc(60% - 10px);
}

.bar.advanced::before{
    width: calc(80% - 10px);
}

.bar.expert::before{
    width: calc(100% - 10px);
}

.skills_left {
    width: 30%;
    padding-top: 60px;
}

.skills_right {
    width: 30%;
    padding-top: 60px;
}

.documents {
    display: flex;
}

.cv {
    display: block;
    margin-right: 10px;
    margin-left: auto;
}

.lm {
    display: block;
    margin-left: 10px;
    margin-right: auto;
}

.montage_pc {
    display: flex;
    padding: 50px 50px 0px 90px;
}

.pieces_liste {
    display: block;
    text-align: justify;
    width: 70%;
    padding-top: 0;
}

.mySlides1, .mySlides2 {
    display: none
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 8px;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
    color: black;
}

.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 8px;
    vertical-align: middle;
}

.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev2:hover, .next2:hover {
    background-color: white;
    color: black;
}

.text_img {
    color: white;
    text-shadow: 3px 2px 2px black;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-family: Zilla Slab, 'Times New Roman', Times, serif;
}

cite {
    font-size: 39px;
    font-family: Caveat, 'Times New Roman', Times, serif;
    line-height: 40px;
    text-align: justify;
}

ul {
    padding-top: 0;
}

li {
    font-size: 22px;
    font-family: Philosopher, 'Times New Roman', Times, serif;
    padding: 10px 50px 0px 60px;
    line-height: 40px;
    list-style-type: circle;
    list-style-position: inside;
}

p {
    font-size: 23px;
    font-family: Philosopher, 'Times New Roman', Times, serif;
    line-height: 30px;
}

.paragraphe {
    text-align: justify;
    padding-left: 90px;
}

.guide {
    text-align: justify;
    list-style-type: circle;
    list-style-position: inside;
}

.form {
    font-size: 18px;
    font-family: Philosopher, 'Times New Roman', Times, serif;
    text-align: center;
    display: block;
}

.form_nom{
    padding: 10px;
    text-align: center;
}

.form_contact{
    padding: 10px;
    text-align: center;
}

.form_gender{
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.form_message{
    padding: 30px;
    text-align: center;
}

.form_file{
    padding: 10px;
    text-align: center;
}

.form_boutons{
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 8px;
}

.footer {
    padding: 50px;
    text-align: center;
    background: rgb(136, 22, 41);
    clear: both;
    left: 0;
    bottom: 0;
    width: 100%;
}

.icon-bar {
    position: fixed;
    top: 82%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: rgb(136, 22, 41);
    color: black;
}

.facebook {
    background: rgb(66,103,178);
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.instagram {
    background: rgb(251, 57, 88);
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: black;
    color: white;
}

.content {
    margin: 0;
    font-size: 30px;
}