* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.title {
    padding: 150px;
    text-align: left;
    background: darksalmon;
    color: white;
    background-image: url("images/img_flower_4.jpg");
    background-size: cover;
    font-family: Josefin Slab;
    font-size: 30px;
}

.navbar {
    overflow: hidden;
    background-color: coral;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    font-size: 30px;
    font-family: Pattaya;
    text-align: center;
    padding: 14px 27px;
    text-decoration: none;
    text-shadow: 2px 1px 1px black;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: coral;
    color: black;
}

h1{
    font-size: 80px;
    text-shadow: 3px 2px 2px black;
}

h2{
    font-size: 55px;
    text-shadow: 2px 2px 1px black;
}

h3{
    font-size: 35px;
    font-family: Josefin Slab;
    text-align: center;
}

h4{
    font-size: 25px;
    font-family: Mate SC;
    text-align: center;
}

h5{
    font-size: 28px;
    font-family: Mate SC;
}

.right_profil {
    background-color: white;
    display: block;
    padding: 20px;
}

.left_profil {
    background-color: white;
    display: block;
    float: left;
    padding: 50px 100px 400px 100px;
    border-right: solid darksalmon 5px;
    margin-right: 50px;
}

.com_right {
    display: block;
    /* padding: 30px 30px; */
}

.image_etudes {
    float: left;
}

/* .comp_left {
    background-color: white;
    display: block;
    float: left;
    padding: 30px 50px 300px 50px;
    margin-right: 50px;
} */

li {
    font-size: 20px;
    font-family: Ubuntu;
    padding: 0;
}

p {
    font-size: 20px;
    font-family: Ubuntu, Open Sans;
}

.cadre {
    background-color: rgb(253, 242, 190);
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-family: Ubuntu, Open sans;
    margin-bottom: 20px;
    float: right;
}

.rigth_contact {
    justify-content: flex-end;
    display: block;
    float: right;
}

.left_contact {
    justify-content: flex-start;
    display: block;
    float: left;
}

.form {
    font-size: 18px;
    font-family: Ubuntu, Open sans;
    width: 100%;
    text-align: center;
    display: flex;
}

.form_nom{
    flex: 50%;
    padding: 10px;
}

.form_contact{
    flex: 50%;
    padding: 10px;
}

.form_gender{
    flex: 50%;
    padding: 10px;
    padding-top: 20px;
}

.form_date{
    flex: 50%;
    padding: 10px;
}

.form_message{
    flex: 50%;
    padding: 30px;
    text-align: justify;
}

.form_boutons{
    flex: 50%;
    padding: 20px;
}

.photo_profil {
    float: left;
    border-radius: 8px;
    padding: 0;
}

img {
    border-radius: 8px;
}

.footer {
    padding: 50px;
    text-align: center;
    background: coral;
    clear: both;
}

