* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* background-color: rgb(44, 42, 42); */
}

.title {
    padding: 230px;
    text-align: left;
    background: black;
    background-image: url("images/image_title.jpg");
    background-size: cover;
    font-size: 30px;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    font-size: 30px;
    font-family: Zilla Slab;
    text-align: center;
    padding: 14px 27px;
    text-decoration: none;
    text-shadow: 2px 1px 1px black;
    transition: all 0.7s ease;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: rgb(136, 22, 41);
    color: black;
}

.navbar a.active {
    background-color: rgb(136, 22, 41);
    color: black;
}

h1{
    font-size: 80px;
    text-shadow: 3px 2px 2px black;
    font-family: Josefin Slab;
    color: white;
}

h2{
    font-size: 55px;
    text-shadow: 2px 2px 1px black;
    font-family: Josefin Slab;
    color: white;
}

h4{
    font-size: 30px;
    font-family: Encode Sans SC;
    padding: 50px 50px 0px 50px;
    text-align: left;
    /* text-shadow: 2px 2px 2px rgb(136, 22, 41); */
    text-decoration-line: underline;
}

h5{
    font-size: 28px;
    font-family: Encode Sans SC;
    text-align: justify;
    padding: 50px 50px 0px 50px;
    text-decoration-line: underline;
}

.partie_accueil {
    font-size: 50px;
    font-family: Josefin Slab;
    text-align: center;
    background-color: rgb(136, 22, 41);
    color: black;
    padding: 12px;
    margin-top: 0;
    margin-bottom: 50px;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}

.parties {
    font-size: 50px;
    font-family: Josefin Slab;
    text-align: center;
    background-color: rgb(136, 22, 41);
    color: black;
    padding: 12px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 300px;
    height: 530px;
    border-radius: 8px;
    margin: 40px 90px;
    display: block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.container {
    padding: 2px 16px;
    text-align: center;
}

.accueil_left {
    display: block;
    float: left;
}

.accueil_right {
    display: block;
    padding: 200px 100px 200px 500px;
}

.exp_pro {
    display: flex;
}

.formations {
    width: 95%;
    padding: 0px 0px 0px 50px
}

.comp {
    display: flex;
    padding: 50px 50px 0px 90px;
}

.comp_liste {
    display: block;
    width: 50%;
    padding-top: 60px;
}

.comp_left {
    display: flex;
    padding: 50px 50px 0px 90px;
}

.skills_left {
    width: 30%;
    padding-top: 60px;
}

.skills_right {
    width: 30%;
    padding-top: 60px;
}

.montage_pc {
    display: flex;
    padding: 50px 50px 0px 90px;
}

.pieces_liste {
    display: block;
    text-align: justify;
    width: 60%;
    padding-top: 0;
}

.mySlides1, .mySlides2 {
    display: none
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 8px;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
    color: black;
}

.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 8px;
    vertical-align: middle;
}

.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev2:hover, .next2:hover {
    background-color: white;
    color: black;
}

.text_img {
    color: white;
    text-shadow: 2px 2px 1px black;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-family: Zilla Slab;
}

cite {
    font-size: 30px;
    font-family: Ubuntu;
    line-height: 40px;
    text-align: justify;
}

ul {
    padding-top: 0;
}

li {
    font-size: 20px;
    font-family: Ubuntu;
    padding: 10px 50px 0px 60px;
    line-height: 30px;
    list-style-type: circle;
    list-style-position: inside;
}

p {
    font-size: 20px;
    font-family: Ubuntu, Open Sans;
    line-height: 30px;
}

.guide {
    text-align: justify;
    list-style-type: circle;
    list-style-position: inside;
}

.form {
    font-size: 18px;
    font-family: Ubuntu, Open sans;
    text-align: center;
    display: block;
}

.form_nom{
    padding: 10px;
    text-align: center;
}

.form_contact{
    padding: 10px;
    text-align: center;
}

.form_gender{
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

.form_date{
    padding: 10px;
    text-align: center;
}

.form_message{
    padding: 30px;
    text-align: center;
}

.form_file{
    padding: 10px;
    text-align: center;
}

.form_boutons{
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 8px;
}

.footer {
    padding: 50px;
    text-align: center;
    background: rgb(136, 22, 41);
    clear: both;
    left: 0;
    bottom: 0;
    width: 100%;
}

.icon-bar {
    position: fixed;
    top: 85%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: coral;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: black;
    color: white;
}

.content {
    margin: 0;
    font-size: 30px;
}