* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    padding: 30px;
    text-align: center;
    background: darksalmon;
    color: white;
    background-image: url("image_flowers.jpg");
}

h1{
    font-size: 80px;
    font-family: Pattaya;
    text-shadow: 3px 2px 2px black;
}

h2{
    font-size: 55px;
    font-family: Pattaya;
    text-shadow: 2px 2px 1px black;
}

h3{
    font-size: 35px;
    font-family: Josefin Slab;
    text-align: center;
}

h4{
    font-size: 25px;
    font-family: Mate SC;
}

h5{
    font-size: 28px;
    font-family: Mate SC;
    text-align: center;
}


.navbar {
    overflow: hidden;
    background-color: coral;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    font-size: 30px;
    font-family: Indie Flower;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.droite {
    float: right;
}

.navbar a:hover {
    background-color: lightgrey;
    color: black;
}

.page {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cote_gauche {
    flex: 30%;
    padding: 20px;
    background-color: white;
    border: solid 12px darksalmon;
    border-radius: 10px;
}

.main {   
    flex: 70%;
    background-color: white;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.cadre{
    background-color: rgb(253, 242, 190);
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-family: Open sans;
}

.mes_infos{
    font-size: 18px;
    font-family: Open Sans;
    box-sizing: content-box;
    width: 25%;
    /* float: left; */
    text-align: justify;
    background-color: darksalmon;
}


form{
    font-size: 18px;
    font-family: Open sans;
    /* box-sizing: content-box; */
    width: 100%;
    /* border: 5px solid darksalmon;
    border-radius: 1em; */
    /* float: right; */
    text-align: center;
}

.form_nom{
    flex: 50%;
    padding: 10px;
}

.form_contact{
    flex: 50%;
    padding: 10px;
}

.form_gender{
    flex: 50%;
    padding: 10px;
    padding-top: 20px;
}

.form_date{
    flex: 50%;
    padding: 10px;
}

.form_message{
    flex: 50%;
    padding: 30px;
    text-align: justify;
}

.form_boutons{
    flex: 50%;
    padding: 20px;
}

form div + div{
    margin-top: 8px;
}

.footer {
    padding: 10px;
    text-align: center;
    background: coral;
}